@page "/World/GreatTree"
@inject GameState GameState
@inject NavigationManager UriHelper
@implements IDisposable


@if (thisArea != null)
{
     <AreaComponent areaURL="GreatTree"></AreaComponent>
    @if(AreaManager.Instance.GetAreaByURL("RaabitGate").IsUnlocked == false)
    {
        @if(GreatTree.Progress < GreatTree.Height)
        {
            @if ((Player.Instance.Inventory.HasItem("Rope") || Player.Instance.Inventory.HasItem("Magic Rope")) && !IsClimbing)
        {
            <button class="btn btn-primary" style="margin-top:10px;" @onclick="@(() => StartClimbingTree())">Climb Tree</button>
        }
        else if (IsClimbing)
        {
            <div class="progress my-2" @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Climbing Progress", String.Format("D", GreatTree.Progress / GreatTree.Height))))"
                                    @onmouseout="@(new Action(() => GameState.HideTooltip()))" style="border-radius:0;background-color:darkgray">                
                <div class="progress-bar" style="width:@(GreatTree.Progress / GreatTree.Height * 100)%;color:black;background-color:#51d051">

                </div>
            </div>

            <div class="progress vertical my-2" style="border-radius:0;background-color:#51d051;width:15px;height:200px;">     
                @if(NextClimbTick > GameState.CurrentTick)
                {
                <div class="progress-bar" style="height:@((((NextClimbTick - GameState.CurrentTick) / (double)TicksPerClimb) * 100))%;width:15px;color:darkgray;background-color:black">

                </div>
                }

            </div>


            <button class="btn btn-primary" style="margin-top:10px;" @onclick="@(() => StopClimbing())">Stop Climbing Tree</button>
        }
        else
        {
            <button class="btn btn-primary" style="margin-top:10px;opacity:0.5"
                    @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e,"You'll need some rope to climb this tree.")))"
                    @onmouseout="@(new Action(() => GameState.HideTooltip()))">
                Climb Tree
            </button>
            }
        }
    }
    else
    {
        <Quepland_2_DN6.Components.AreaUnlockComponent areaToUnlock="@a"></Quepland_2_DN6.Components.AreaUnlockComponent>      
    }
}

@code {

    [Parameter]
    public string areaURL { get; set; }
    public Area thisArea { get; set; }
    public long NextClimbTick;
    public long TicksPerClimb;
    public bool IsClimbing;
    public AreaUnlock a;
    private void StartClimbingTree()
    {
        if(Player.Instance.Inventory.HasItem("Magic Rope"))
        {
            MessageManager.AddMessage("You grip the side of the tree and pull yourself upwards.");
            NextClimbTick = GameState.CurrentTick + (50 - Math.Min(45, (((Player.Instance.GetLevel("Strength") / 3) + (Player.Instance.GetLevel("Deftness")) / 3))));

            IsClimbing = true;
        }
        else if (Player.Instance.Inventory.HasItem("Rope"))
        {
            MessageManager.AddMessage("You grip the side of the tree and pull yourself upwards.");
            NextClimbTick = GameState.CurrentTick + (50 - Math.Min(45, (((Player.Instance.GetLevel("Strength") / 5) + (Player.Instance.GetLevel("Deftness")) / 5))));
            IsClimbing = true;
        }
        else
        {
            MessageManager.AddMessage("You have run out of rope! You'll have to find some more.");
            IsClimbing = false;
        }
        TicksPerClimb = NextClimbTick - GameState.CurrentTick;
    }
    private void StopClimbing()
    {
        IsClimbing = false;
    }

    private void FindBattles()
    {
        GameState.StopNonCombatActions();
        BattleManager.Instance.StartBattle(thisArea);
        GameState.Location = "Battle";
        UriHelper.NavigateTo("World/Battle/");
    }

    private void EnterBuilding(string buildingURL)
    {
        GameState.StopActions();
        GameState.Location = areaURL + "/" + buildingURL;
        UriHelper.NavigateTo("World/" + areaURL + "/" + buildingURL);
    }
    private void EnterDojo(string dojoURL)
    {
        GameState.StopActions();
        GameState.Location = "Dojo/" + dojoURL;
        UriHelper.NavigateTo("World/Dojo/" + dojoURL);
    }
    private void EnterDungeon(string dungeonURL)
    {
        GameState.StopActions();
        GameState.Location = dungeonURL;
        UriHelper.NavigateTo("Underworld/" + dungeonURL);
    }
    private void EnterSmithy()
    {
        GameState.StopActions();
        GameState.Location = "Smithy/" + areaURL;
        UriHelper.NavigateTo("World/Smithy/" + areaURL);
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;

    }
    protected override void OnParametersSet()
    {
        areaURL = "GreatTree";
        thisArea = AreaManager.Instance.GetAreaByURL(areaURL);
        a = new AreaUnlock()
            {
                ButtonText = "Climb Inside Tree",
                AreaURL = "RaabitGate"
            };
        //GameState.NavMenu.ChangeOpenRegion(AreaManager.Instance.GetRegionForArea(thisArea), false);
        GameState.UpdateState();

    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e)
    {

        if (NextClimbTick <= GameState.CurrentTick && IsClimbing)
        {
            if (Player.Instance.Inventory.RemoveItems(ItemManager.Instance.GetItemByName("Magic Rope"), 1) == 1)
            {
                MessageManager.AddMessage("The rope magically pulls you up the tree faster.");
                GreatTree.Progress += 2;
                StartClimbingTree();
                
            }
            else if (Player.Instance.Inventory.RemoveItems(ItemManager.Instance.GetItemByName("Rope"), 1) == 1)
            {
                MessageManager.AddMessage("You climb further up the tree.");
                GreatTree.Progress++;
                StartClimbingTree();
            }
            else
            {
                MessageManager.AddMessage("You have run out of rope! You'll have to find some more.");
                IsClimbing = false;
            }
        }

        StateHasChanged();
    }
}
