@inject GameState GameState
@inject NavigationManager UriHelper
@implements IDisposable

<div class="col">
    <div class="row item-stat-box">
        <div class="col item-stat-info" 
             @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Damage", "This is a measure of how much all your equipped items boost your damage. Higher numbers are better!")))"
             @onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <img src="data/Images/Attack.png" style="height:26px;width:26px;margin-top:-3px;" /> @GetAttack()
        </div>
                <div class="col item-stat-info" 
             @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Ranged Damage", "This is a measure of how much all your equipped items boost your ranged damage. Higher numbers are better!")))"
             @onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <img src="data/Images/Archery.png" style="height:26px;width:26px;margin-top:-3px;" /> @GetRangedAttack()
        </div>
                <div class="col item-stat-info" 
             @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Magic Damage", "This is a measure of how much all your equipped items boost your magic damage. Higher numbers are better!")))"
             @onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <img src="data/Images/Stun.png" style="height:26px;width:26px;margin-top:-3px;" /> @GetMagicAttack()
        </div>
        <div class="col item-stat-info" 
             @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Armor", "This is a measure of how much all your equipped items boost your armor. Higher numbers are better!")))"
             @onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <img src="data/Images/Armor.png" style="height:26px;width:26px;margin-top:-3px;" /> @GetArmor()
        </div>
        <div class="col item-stat-info" 
             @onmouseover="@(new Action<MouseEventArgs>(e => GameState.ShowTooltip(e, "Speed", "This is a measure of how many game ticks this weapon (Or your fists!) attacks at. Lower is faster!")))"
             @onmouseout="@(new Action(() => GameState.HideTooltip()))">
            <img src="data/Images/Speed.png" style="height:26px;width:26px;margin-top:-3px;" /> @GetSpeed()
        </div>
    </div>
</div>
<div style="display:flex;flex-direction:column;flex-flow:wrap;border-bottom:solid 1px black;">
    @foreach (string slot in ItemManager.Instance.EquipmentSlots)
    {
        <div style="width:60px;margin:5px;">
            @slot

            <div @onclick="@(() => Unequip(GetItemAtSlot(slot)))">
                <Quepland_2_DN6.Components.ItemBoxComponent Item="@GetItemAtSlot(slot)" shouldRender="@ShouldRerender(slot)" CustomMargin=0></Quepland_2_DN6.Components.ItemBoxComponent>
            </div>
        </div>
    }
    <div style="height:60vh;display:flex;flex-direction:column;min-width:100%">
        <Quepland_2_DN6.Components.InventoryViewerComponent HideFollowerView="true"></Quepland_2_DN6.Components.InventoryViewerComponent>

    </div>
</div>


@code {
    public string GetAttack()
    {
        int total = 0;
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            total += i.WeaponInfo?.Damage ?? 0 + i.ArmorInfo?.Damage ?? 0;
        }
        return total.ToString("D");
    }
    public string GetRangedAttack()
    {
        int total = 0;
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            total += i.WeaponInfo?.RangedDamage ?? 0 + i.ArmorInfo?.RangedDamage ?? 0;
        }
        return total.ToString("D");
    }
    public string GetMagicAttack()
    {
        int total = 0;
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            total += i.WeaponInfo?.MagicDamage ?? 0 + i.ArmorInfo?.MagicDamage ?? 0;
        }
        return total.ToString("D");
    }
    public int GetArmor()
    {
        int total = 0;
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            total += i.WeaponInfo?.ArmorBonus ?? 0 + i.ArmorInfo?.ArmorBonus ?? 0;
        }
        return total;
    }
    public int GetSpeed()
    {
        return Player.Instance.GetWeaponAttackSpeed();
    }

    private void Unequip(GameItem item)
    {
        Player.Instance.Unequip(item);
        TooltipManager.HideTip();
        GameState.UpdateState();
    }
    private GameItem GetItemAtSlot(string slot)
    {
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            if (i.EquipSlot == slot)
            {
                return i;
            }
        }
        return null;
    }
    private bool ShouldRerender(string slot)
    {
        foreach (GameItem i in Player.Instance.GetEquippedItems())
        {
            if (i.EquipSlot == slot)
            {
                return i.Rerender;
            }
        }
        return true;
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
