@page "/World/CantilaBeach/CantilaLighthouse"
@inject GameState GameState
@inject NavigationManager UriHelper

    <h1>The Lighthouse</h1>
<br />
<button class="btn btn-primary" @onclick="@(() => Exit())">Return to the beach</button>
<br />

@if (location == "Outside")
{
    @if(QuestManager.Instance.GetQuestByName("Queple's Sword").Progress >= 10)
    {
    <div>There is a small door on the front of the lighthouse, it appears to have snapped off its hinges. A staircase wraps around to the top of the tower.</div>
    <div>
        <button class="btn btn-primary" @onclick="@(() => ChangeLocations("Tower Top"))">Climb up the stairs</button>

        <button class="btn btn-primary" @onclick="@(() => ChangeLocations("B-1"))">Enter the doorway</button>
    </div>
    }
    else
    {
            <div>There is a small door on the front of the lighthouse, but it's locked. A staircase wraps around to the top of the tower.</div>
    <div>
        <button class="btn btn-primary" @onclick="@(() => ChangeLocations("Tower Top"))">Climb up the stairs</button>
    </div>
    }

}
else if (location == "Tower Top")
{
    <div>The lighthouse is shining brightly, but there's no one here. You feel a slight rumble beneath your feet. A strange desire to open the door down below stirs within you.</div>
    <div>
        <button class="btn btn-primary" @onclick="@(() => ChangeLocations("Outside"))">Climb down the stairs</button>
    </div>
}
else if (location == "B-1")
{
    <div>The door swings open, revealing a spiral staircase that continues down into the dark. The floor rumbles and a gust of wind blows past you as you descend the steps. At the bottom of the stairs you enter a small room with an elaborately engraved wall. At the center is a small door handle, though it does not appear to be attached to anything.</div>
    <Quepland_2_DN6.Components.NPCDialogComponent npc="Lighthouse Wall"></Quepland_2_DN6.Components.NPCDialogComponent>
    <button class="btn btn-primary" @onclick="@(() => EnterGauntlet())">Touch the handle</button>
}
else if (location == "B-2")
{
    <div>The way forward is lighted with a thin layer of glowing leaves. Ahead you can hear the muffled sound rattling of bones and scraping of metal against stone.</div>
    <button class="btn btn-primary" @onclick="@(() => StartGauntlet())">Begin Descending</button>
}
else if(location == "Gauntlet")
{
    //Boss Fight
    if(currentFloor == 5)
    {
        <button class="btn btn-primary" @onclick="@(() => ChangeLocations("Boss"))">Enter Room</button>
    }
    else if(room == "Entrance")
    {
        <div>@GetDescription()</div>
 
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Gather"))">Enter Nature Chamber</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Artisan"))">Enter Workshop</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Combat"))">Enter Barracks</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Descend"))">Descend Stairs</button>
    }
    else if(room == "Gather")
    {
        <div>@GetDescription()</div>

        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Artisan"))">Enter Workshop</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Combat"))">Enter Barracks</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Descend"))">Descend Stairs</button>

        <Quepland_2_DN6.Components.GatherButtonComponent ActionText="Chop Balsa Trees:Balsa Logs"></Quepland_2_DN6.Components.GatherButtonComponent>
        <br />
        <Quepland_2_DN6.Components.GatherButtonComponent ActionText="Catch Fish:Crab,Manta Ray,Scallop:You start fishing..."></Quepland_2_DN6.Components.GatherButtonComponent>
        <br />
        <Quepland_2_DN6.Components.GatherButtonComponent ActionText="Gather Wheat:Wheat:You begin picking wheat..."></Quepland_2_DN6.Components.GatherButtonComponent>
        <br />
        <Quepland_2_DN6.Components.ConvertItemsComponent ActionText="Gather Water from the river:Bucket of Water:Empty Bucket:You begin drawing water from the river."></Quepland_2_DN6.Components.ConvertItemsComponent>
        <br />

    }
    else if(room == "Artisan")
    {
        <div>@GetDescription()</div>

        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Gather"))">Enter Nature Chamber</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Combat"))">Enter Barracks</button>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Descend"))">Descend Stairs</button>


        <Quepland_2_DN6.Components.GatherButtonComponent ActionText="Collect Rolls:Rice Roll:You start gathering rice rolls."></Quepland_2_DN6.Components.GatherButtonComponent>
        <br />
        <Quepland_2_DN6.Components.OvenComponent></Quepland_2_DN6.Components.OvenComponent>
        <br />
        <Quepland_2_DN6.Pages.SmithyComponent Location="Lighthouse"></Quepland_2_DN6.Pages.SmithyComponent>
    }
    else if(room == "Combat")
    {
        <div>@GetDescription()</div>
        @if (BattleManager.Instance.BattleHasEnded)
        {             
            <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Gather"))">Enter Nature Chamber</button>
            <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Combat"))">Enter Barracks</button>
            <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Descend"))">Descend Stairs</button>
        }
        else
        {
             <CombatComponent></CombatComponent>
        }
       
        
    }
    else if(room == "Descend")
    {
        <div>@GetDescription()</div>
        <button class="btn btn-primary" @onclick="@(() => ChangeRoom("Entrance"))">Continue Downard</button>
    }
}
else if(location == "Boss")
{
    
}

@code {

    private string location = "Outside";
    private string room = "Entrance";
    private int currentFloor = 1;
    private Dictionary<int, List<string>> FloorEnemies = new Dictionary<int, List<string>>()
    {
        {1,new List<string>(){ "Stormling",  } }
    };
    private Dictionary<string, string> Descriptions = new Dictionary<string, string>() 
    { 
        {"Entrance", "The cold floor has fresh footprints leading in one direction. You can smell baked bread in another. A warm glow illuminates a third path."},
        {"Gather", "You find a small forest growing here. A small stream flows by, full of some kinds of fish."},
        {"Artisan", "Prepared rice rolls sit in a pile near the oven."},
        {"Combat", "Some of the creatures that live down here have spotted you!"},
        {"Descend", "A staircase leads deeper into the dungeon. An icy wind blows steadily upward out of the entryway."},
    };

    public string GetDescription()
    {
        return Descriptions[room];
    }
    private void Descend()
    {
        currentFloor++;
        room = "Entrance";
    }
    private void ChangeRoom(string newRoom)
    {

        room = newRoom;
        if(room == "Combat"){
            BattleManager.Instance.StartBattle();
        }
        GameState.UpdateState();
    }

    private void StartGauntlet()
    {
        ChangeLocations("Gauntlet");
        BattleManager.Instance.CurrentOpponents.Clear();
        BattleManager.Instance.CurrentOpponents.Add(BattleManager.Instance.GetMonsterByName("Stormling"));
        BattleManager.Instance.StartBattle();
    }
    private void EnterGauntlet()
    {
        if(Player.Instance.Inventory.GetUsedSpaces() != 0)
        {
            string msg = "The handle feels hot to the touch.";
            string item = " Your " + Player.Instance.Inventory.GetUniqueItems()[0].Key.Name + " begins to tremble violently.";
            MessageManager.AddMessage(msg + item);
            GameState.UpdateState();
            return;
        }

        MessageManager.AddMessage("You feel your stomach tighten as the world around you folds in on itself. The room stretches longer and wider, darkness envelops you. In a moment the sensation passes and you find yourself standing in an open room made of cold, gray stone. There is a fine layer of snow on the ground, which glows just enough allow you to see around.");
        location = "B-2";
        GameState.UpdateState();
    }

    private void ChangeLocations(string newloc)
    {
        location = newloc;
        GameState.UpdateState();
    }
    private void Exit()
    {
        UriHelper.NavigateTo("/World/CantilaBeach");
        GameState.UpdateState();
    }
    protected override void OnInitialized()
    {
        GameState.StateChanged += OnGameStateChanged;
    }
    public void Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}
